:root{
    --red: rgb(247, 69, 78);
    --dark: rgb(0, 44, 61);
    --black: #000;
    --white: #fff;
    --paragraph: rgb(66, 66, 66);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 10vh;
    /* width: 100vw; */
    margin:2vh 8vw;
    /* position: absolute; */
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
}
.nav-img img{
    margin: 1vh;
    width: 250px;
    height: 40px;
    cursor: pointer;
    /* margin-right: 14vw; */
    /* margin-left: 5vw; */
}
.nav-img{
    float: left;
}


.navList{
     display: flex;
     height: auto;
     width: auto;

    }
.navList li {
    list-style: none;
    margin-left: 2vw;
    padding-top: 2vh;
    
}
.navList li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: large;

} 
.activ{
    color: red !important;
}
.drop{
    display: inline-block;
}
.appear{
    display: inline;
}
.dropdown-menu{
    border: 2px solid black;
    border-radius: 0;
    box-shadow: 3px 3px 0px 0px  black;
    left: 54vw;
    top: 11vh;
    font-weight: 100;
}
.dropdown-menu li p{
    margin: 0;
    padding: 0;
    margin-right: 2vw;
}
ul{
    padding: 0;
}

/* about us */
.about-us{
    /* width: 100vw; */
    height: 10vw;
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    padding: 5vh;

}
.about-us h1{
    font-weight: 900;
    font-size: 50px;
}
.branched-footer{
    background-color: var(--dark);
    color: #f0f7fd;
    padding: 8vh 8vw;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-top: 4vh; */
}
.branches{
    display: flex;

}
.left-branch{
    width: 20vw;
    margin-left: 18vw;
}
.branched-footer p{
    font-weight: 300;
}
.branched-footer a{
    text-decoration: none;
    color: #fff;
}

.media a .media-footer{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--dark);
    padding: 5px;
}
.branched-footer .copyRight{
    border-top: 1px solid gray;
    width: 40vw;
    text-align: center;
    padding: 2vh 5vw;
    margin-left: 18vw;
    margin-top: 10vh;
}

form{
    padding: 8vh 20vw;
}
input,textarea{
    width: 50vw;
    margin-bottom: 2vh;
    padding: 10px 10px;
}
.branched-footer button{
    margin-left: 20vw;
}
/* slider */
.side-bar{
    /* width: 90px;
    height: 55px; */
    display: none;
    flex-direction: column;
    background-color: #fcf9f9;
}
.side-bar .bar{
    height: 5px;
    width: 40px;
    background-color: #000;
    border-radius: 10px;
    margin-top: 8px;
}

.slider{
    /* height: 90vh; */
    background-image: url("../images/slider-bg.jpg");
    background-size: cover;    

}
.slider-cotent{
    padding-top: 13vh;
    padding-left: 8vw;
    display: flex;
    /* transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; */
}
.slides h1,h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}
.slides h1{
    color: var(--red);
}
.slides h2{
    color: var(--dark);
}
.slides p{
    width: 36vw;
    color: var(--paragraph);
}
button{
    padding: 2vh 3vw;
    background-color: var(--red);
    color: var(--white);
    border: none;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3vh;
}
.slides{
    /* padding-left: 5vw; */
    /* display: none; */
    /* transform: translateX(100%); */
}

.active{
    display: inline-block;
    /* transform: translateX(0); */
}
/* .exit{
    transform: translateX(-100%);
    
} */
.pointer{
    display: flex;
    padding: 5vh 8vw;
    /* padding-top: 8vh; */
}
.point{
    height: 15px !important;
    width: 15px !important; 
    background-color: var(--white);
    border-radius: 50%;
    margin-left: 10px
}
.light{
    background-color: var(--red);
    transform: scale(1.7);
}

/* shop with us */
.shop{
    padding: 8vh 8vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.shop h1{
    font-weight: 700;
    font-size: 60px;
    color: var(--black);
}
.line{
    width: 90px;
    height: 6px;
    background-color: var(--red);
    margin-left: 40vw;
    margin-top: 3vh;
}
.shipping{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7vh;
    margin-bottom: 7vh;
}
.delivery{
    background-color: var(--dark);
    color: var(--white);
    border-radius: 10px;
    padding: 6vh 4vw;
    width: 27vw;
}
.delivery h4, p {
    margin-top: 4vh;
    font-weight: 700;
}
/* span{
    font-size: 40px;
} */

/* new arrival */
.new{
    /* height: 80vh; */
    background-image: url(../images/arrival-bg.jpg);
    background-size: cover;
    padding-bottom: 5vh;
}
.arrival{
    width: 35vw;
    padding-top: 20vh;
    margin-left: 60vw;
    font-family: 'Times New Roman', Times, serif;
    
}
.arrival h1{
    font-weight: 700;
    font-size: 50px;
    color: var(--dark);

}
.arrival p{
    font-size: 20px;
    color: rgb(26, 25, 25);
    font-weight: 300;
}
/* our products */
.products{
    padding: 6vh 8vw;
}
.products h1,.products span{
    font-weight: 700;
    font-size: 50px;
    color: var(--black);
    text-align: center;
}
#partition{
    width: 25vw;
    height: 40vh;
    background-color: rgb(247, 249, 250);
    padding: 4vh 3vw;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, .2);
    margin-bottom: 5vh;
    position: relative;


}
.description{
    display: flex;
    margin-top: 4vh;
    justify-content: space-around;
}
.description p, .description h5{
    margin: 0;
    font-size: medium;
}
#product-images{
    padding: 3vh 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
#partition img{
    width: 100px;
    height: 115px;
}
#partition:hover .over-product {
    display: block;
}

.over-product{
    background-color: #f8f4f485;
    position: absolute;
    top: 0;
    padding-top: 50px;
    display: none;
}

.over-product button{
    border-radius: 75px;
    font-weight: 300;
    padding: 1vh 3vw;
    
}
.over-product .first:hover{
    background: none;
    border: 1px solid var(--red);
    color: var(--red);
}
.over-product .second:hover{
    background: none;
    border: 1px solid var(--black);
    color: var(--black);
}

/* subscribe */
.discount{
    background-color: rgb(212, 205, 207);
    padding: 15vh 28vw;
    text-align: center;
    margin-top: 8vh;
}
.discount h2{
    font-size: 40px;
}
.discount p{
    color: var(--paragraph);
    font-weight: 300;
    font-size: 18px;
}
.discount input{
    width: 40vw;
    padding: 2vh 2vw;
    border-radius: 50px;
    border: none;
    margin-top: 1vh;
}
.discount button{
    border-radius: 40px;
    margin-top: 8vh;
}

/* testimonials */
.testimonials{
    height: auto;
    text-align: center;
    margin-top: 7vw;
    position: relative;
}
/* testi slider */

.testi-slider{

    width: 60%;
    margin: 6vh 20vw;
    display: none;
    position: relative;
    align-items: center;
}
.testi-slider img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 5vh;
}
.testi-slider p{
    text-align: left;
    margin: 0;
    color: var(--paragraph);
    text-align: center;
}
.testi-slider span{
    font-size: x-large;
    color: gray;
}
.active{
    display: flex;
    flex-direction: column;
}
.arrows{
    z-index: 100;
    
}
.arrow-right ,.arrow-left{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--red);
    padding: 2vh 1vw;
    cursor: pointer;
}
.arrow-right{
    bottom: 50%;
    left: 65%;
}
.arrow-left{
    bottom: 50%;
    right: 65%;
}
/* footer */
.footer-container{
    background-color: #f0f7fd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5vh;
    margin-top: 5vh;

}
.footer{
    margin: 10vh 8vw 0 8vw;
    display: flex;
    justify-content: space-between;
}

.footer h5{
    color: var(--black);

}
.footer p{
    color: var(--paragraph);
    font-size: medium;
}
.famms-footer{
    width: 25vw;
    margin-right: 4vw;
}
.famms-footer img{
    width: 200px;
    height: 40px;
    display: block;
}
.famms-footer span{
    font-size: medium;
}

.other-famms{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}
.other-famms p{
    margin: 2vh;
    color: gray;
}
.other-famms button{
    padding: 1vh 1vw;

}
.other-famms input{
    width: 200px;
    padding: 1vh 2vw;

}
.copyright{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px;
}
.copyright p{
    font-weight: 300;
}
.copyright span{
    font-size: medium;
    color: var(--red);
}
.subscribe{
    width: 300px;
}

@media screen and (min-width: 1880px) and (max-width: 2600px) {
    .description p, .description h5 {
        font-size: xx-large;
    }
    p,h1,button{
        font-size: xx-large;
    }
    nav {
        height: 8vh;
    }
    .arrival p {
        font-size: 30px;
    }
    .point{
        height: 20px;
        width: 20px;
    }
    .discount p {
        font-size: 24px;
    }
    h4 ,span{
        font-size: 3rem;
    }
    .arrow-right, .arrow-left {
        width: 68px;
        height: 68px;
    }
    .navList li a{
        font-size: x-large;
    }  
    .nav-img img {
        width: 300px;
        height: 57px;
    }   
    
    /* about us */
    .about-us{
        padding: 9vh;
    }
}
/* media for collapsing bar */
@media (max-width: 990px){
    .side-bar{
        position: absolute;
        right: 8vw;
        display: flex;
    }
    .navList{
        display: none;
        flex-direction: column;
    
    
    }
    
    .navList li a{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    nav{
        flex-direction: column;
        height: auto;
    }
    .active{
        display: flex;
    }
    /* about us */
    .about-us{
        padding: 4vh;
    }
    .about-us h1{
        font-size: 40px;
    }


    /* footer */
    .famms-footer img {
        width: 140px;
        height: 26px;
    }
    .other-famms input {
        width: 83px;
    }
    .footer h5, .footer p ,.famms-footer p,h6{
        font-size: .75rem;
    }
    .subscribe{
        width: 180px;
    }
    .footer ,.famms-footer{
        width: 50%;
    }

}

@media (min-width: 425px) and (max-width: 766px){
    #partition{
        width: 35vw;
        height: auto;
    }
    .shipping{
        flex-direction: column;
    }
    .delivery{
        width: 45vw;
        align-items: center;
        margin-bottom: 2vh;
        align-self: center
    }
}

@media (max-width: 600px){
    .footer{
        flex-direction: column;
    }
    .famms-footer{
        width: auto;
    }
    .about-us{
        padding: 2vh;
    }
    .about-us h1{
        font-size: 25px;
    }
}

@media (max-width: 425px){
    .arrival{
        margin-left: 20vw;
    }
    #partition{
        width: 80vw;
        height: auto;
    }
    .other-famms{
        flex-direction: column;
    }
    .over-product{
        left: 15vw;
    }
    .shipping{
        flex-direction: column;
    }
    .delivery{
        width: 45vw;
        align-items: center;
        margin-bottom: 2vh;
        align-self: center
    }
    .slides p{
        width: auto;
    }
    .slides h1, .slides h2{
        font-size: 40px;
    }
    .testimonials h2{
        font-size: 40px;
    }
    .nav-img img{
        width: 170px;
        height: 25px;
    }
    .about-us{
        padding: 1vh;
    }
    .about-us h1{
        font-size: 20px;
    }

}